<!-- COMPONENT TEMPLATE -->
<h2>My Heroines</h2>
<ul class="heroines">
  <!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list.
    Don't forget the asterisk (*) character in front of ngFor. It's a critical part of the syntax. -->
  <li *ngFor="let heroine of heroines">
    <!-- it is better for accessibility purposes to use natively interactive HTML elements (e.g. <button>) instead of adding event listeners to non-interactive ones (e.g. <li>) -->
    <button [class.selected]="heroine === selectedHeroine" type="button" (click)="onSelect(heroine)">
      <span class="badge">{{heroine.id}}</span>
      <span class="name">{{heroine.name}}</span>
    </button>
  </li>
</ul>
